<header class="app-header">
  <section class="banner">
    <!-- http://daverupert.com/2015/12/intrinsic-placeholders-with-picture/ -->
    <div class="placeholder"></div>
    <img
      class="banner-small"
      data-src="<%- url_for(theme.banner_large)%>"
      src="<%- url_for(theme.banner_small) %>"
      alt="banner"
    >
  </section>

  <section class="description">
    <img class="avatar" src="<%- url_for(theme.avatar) %>" alt="avatar" />
    <h1 class="title"> <%- theme.title %> </h1>
    <h3 class="subtitle"> <%- theme.subtitle %> </h3>
  </section>

  <ul class="social-list">
    <span><a href="/about/">關於我們</a></span> / <span><a href="https://www.techbridge.cc/" target="_blank">技術日報</a></span> / <span><a href="http://weekly.techbridge.cc/" target="_blank">技術週刊</a></span> / <span><a href="https://www.facebook.com/TechBridge.Fans/" target="_blank">粉絲專頁</a></span> / <span><a href="/atom.xml" target="_blank">訂閱RSS </a></span>   
  </ul>
</header>
