<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><% if (page.title){ %><%= page.title %> | <% } %><%= theme.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="<%- url_for(theme.favicon) %>">
  <%- css('css/app') %>
  <!-- <link rel='stylesheet' href='http://fonts.useso.com/css?family=Source+Code+Pro'> -->
  <!-- google-site-verification -->
  <meta name="google-site-verification" content="WX_9sZlrIYOEpy8RR7zCoa7-pJk611zZt11BSBUcDVY" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,400" />
  <!-- facebook og tag -->
  <meta name="generator" content="<%- config.title %>">
  <meta name="og:title" content="TechBridge 技術共筆部落格">
  <meta name="og:description" content="TechBridge Weekly 技術週刊團隊是一群對用技術改變世界懷抱熱情的團隊。本技術共筆部落格初期專注於Web前後端、行動網路、機器人/物聯網、數據分析與產品設計等技術分享。">
  <meta name="og:type" content="website">
  <meta name="og:image" content="/img/logo-tb-500-500.png">
 
  <!-- Share this --> 
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "dd53a2ff-c8de-4b10-be81-2f4c022c9cb5", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
  <!-- Favicons -->
  <link rel="apple-touch-icon" href="/img/favicon.ico">
  <link rel="icon" href="/img/favicon.ico">
</head>
