<header class="site-head" <% if (theme.cover) { %> style="background-image: url('<%- theme.cover %>')" <% } %>>
    <div class="vertical">
        <div class="site-head-content inner">
            <% if (theme.logo) { %> <a class="blog-logo" href="<%- config.root %>"><img src="<%- theme.logo %>" alt="Blog Logo"/></a> <% } %>
            <h1 class="blog-title"><%- config.title %></h1>
            <h2 class="blog-description"><%- config.subtitle %></h2>
            <div class="navbar-block">
                <span><a href="/">首頁</a></span> / <span><a href="/about/">關於我們</a></span> / <span><a href="http://weekly.techbridge.cc/" target="_blank">技術週刊</a></span> / <span><a href="https://www.facebook.com/techbridge.cc/" target="_blank">粉絲專頁</a></span> / <span><a href="/atom.xml" target="_blank">訂閱RSS </a></span>
                <br>
            </div>
        </div>
    </div>
</header>