
<% permalink = config.url + config.root + post.path %>
<main class="content" role="main">
  <article class="post">
    <%- partial('post/meta') %>
    <h1 class="post-title"><%- post.title %></h1>
    <section class="post-content">
      <div class="fb-like" data-href="https://www.facebook.com/TechBridge.Fans" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>   
      <hr>
      <%- post.content %>  
      <div>喜歡我們的文章嗎？歡迎分享按讚給予我們支持和鼓勵！</div>
      <div class="fb-like" data-href="<%- url %>" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div> 
      <br>
      <div class="sharethis-social-share-block">
        <span class='st_twitter_hcount' displayText='Tweet'></span>
        <span class='st_plusone_hcount' displayText='Google +1'></span>
        <span class='st_email_hcount' displayText='Email'></span>
      </div>
      <div class="fb-page" data-href="https://www.facebook.com/TechBridge.Fans" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/TechBridge.Fans" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/TechBridge.Fans">TechBridge 技術日報</a></blockquote></div>
      <br>
    </section>
    <br>
    <footer class="post-footer">
      <%- partial('post/author') %>
      <%- partial('post/share') %>
    </footer>
    <br>
  </article>
  <%- partial('post/navigation') %>
  <%- partial('post/comments') %>
</main>
