<span class="post-meta">
      <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished">
          <%= date(post.date, null) %>
      </time>
    <% if (post.tags && post.tags.length){ %>
    <% count = post.tags.length %>
    | <% post.tags.forEach(function(tag, index) { %>
    <a href='<%= config.root + tag.path %>'><%= tag.name %></a><% if (count !== index+1) { %>,<% } %>
    <% }); %>
    <% } %>
</span>

<meta name="generator" content="<%- post.title %>">
<meta name="og:title" content="<%- post.title %>">
<meta name="og:description" content="TechBridge Weekly 技術週刊團隊是一群對用技術改變世界懷抱熱情的團隊。本技術共筆部落格初期專注於Web前後端、行動網路、機器人/物聯網、數據分析與產品設計等技術分享。">
<meta name="og:type" content="website">
<meta name="og:image" content="/img/og-cover.png">
